<main class="main">
  <div class="content">

    <div class="editor">
      <div class="toggle">

      </div>
      <div class="json">

        <app-jsoneditor></app-jsoneditor>

      </div>
    </div>

    <div>
      <button
        type="button"
        (click)="login()"
        aria-label="Close welcome message">Login</button>
      @if (isLogged()) {
        <button
          type="button"
          (click)="logout()"
          aria-label="Close welcome message">Logout</button>
        <h1>Hello {{username}}</h1>
      }

    </div>
  </div>
</main>



<router-outlet />
